$font-path:"./fonts/";
$red:#F20000;
$indigo-50:#E8EAF6;
$indigo-100:#C5CAE9;
$indigo-200:#9FA8DA;
$indigo-300:#7986CB;
$indigo-400:#5C6BC0;
$indigo-500:#3F51B5;
$indigo-600:#3949AB;
$indigo-700:#303F9F;
$indigo-800:#283593;
$indigo-900:#1A237E;
$aindigo-100:#8C9EFF;
$aindigo-200:#536DFE;
$aindigo-400:#3D5AFE;
$aindigo-700:#304FFE;
// $indigo-50:#EDE7F6;
// $indigo-100:#D1C4E9;
// $indigo-200:#B39DDB;
// $indigo-300:#9575CD;
// $indigo-400:#7E57C2;
// $indigo-500:#673AB7;
// $indigo-600:#5E35B1;
// $indigo-700:#512DA8;
// $indigo-800:#4527A0;
// $indigo-900:#311B92;
// $aindigo-100:#B388FF;
// $aindigo-200:#7C4DFF;
// $aindigo-400:#651FFF;
// $aindigo-700:#6200EA;
// $indigo-50:#F3E5F5;
// $indigo-100:#E1BEE7;
// $indigo-200:#CE93D8;
// $indigo-300:#BA68C8;
// $indigo-400:#AB47BC;
// $indigo-500:#9C27B0;
// $indigo-600:#8E24AA;
// $indigo-700:#7B1FA2;
// $indigo-800:#6A1B9A;
// $indigo-900:#4A148C;
// $aindigo-100:#EA80FC;
// $aindigo-200:#E040FB;
// $aindigo-400:#D500F9;
// $aindigo-700:#AA00FF;
// $indigo-50:#FCE4EC;
// $indigo-100:#F8BBD0;
// $indigo-200:#F48FB1;
// $indigo-300:#F06292;
// $indigo-400:#EC407A;
// $indigo-500:#E91E63;
// $indigo-600:#D81B60;
// $indigo-700:#C2185B;
// $indigo-800:#AD1457;
// $indigo-900:#880E4F;
// $aindigo-100:#FF80AB;
// $aindigo-200:#FF4081;
// $aindigo-400:#F50057;
// $aindigo-700:#C51162;
$white: #FFFFFF;
$black: #000000;
$gray: #CCCCCC;
$primary:$indigo-500;
$secondary: $aindigo-400;
$input-height:34px;
$font1:'OpenSans-ExtraBold';
$font2:'OpenSans-Bold';
$font3:'OpenSans-Regular';