<div class="container-fluid hdr-wrap">
    <div class="row">
        <div class="col-sm-3">
            <div class="logo">
                <span class="s">Wow </span><span class="t">Couple</span>
            </div>
        </div>
        <div class="col-sm-6 menu">
            <a class="active" href="">Home</a>
            <a href="">My Patrner's Wishes</a>
            <a href="">My Wishes</a>
        </div>
        <div class="col-sm-3 text-right profile-wrap">
            <div>

                <div class="name">Sachin Amin</div>
                <div class="pic">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                </div>
                <!-- <div class="settings">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </div> -->
            </div>
        </div>
    </div>
</div>
<div class="container-fluid content-wrap">
    <div >
        <div class="col-sm-2 content-menu card">
            <span>List Header</span>
            <ul>
                <li class="active">Home</li>
                <li>Library</li>
                <li>Application</li>
            </ul>
            <span>Second Header</span>
            <ul>
                <li>Profile</li>
                <li>Settings</li>
                <li>Help</li>
            </ul>
        </div>
        <div class="col-sm-8 content">
            <div class="inner card">
                <div class="r-1">
                    <div class="c-1">
                        <img class="w100" src="assets/img/user.jpg" alt="">
                    </div>
                    <div class="c-hdr">
                        ABC whishes you to do these things to him/her
                    </div>
                    <div class="c-btn">
                        <button class="btn btn-purpule">See All</button>
                    </div>
                </div>
                <div class="row wish-outer">
                    <div class="col-sm-4">
                        <div class="wish-block">
                            <p>Wish name biking down in the sunset</p>
                            <p>Descriptio get on two wish two F 7 bicycles and ride down a lone bicycles and ride down al aftemoor w followed by a nice juice followed
                            </p>
                            <div class="text-center">
                                <button class="btn btn-gray">View Details</button>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="wish-block">
                            <p>Wish name biking down in the sunset</p>
                            <p>Descriptio get on two wish two F 7 bicycles and ride down a lone bicycles and ride down al aftemoor w followed by a nice juice followed
                            </p>
                            <div class="text-center">
                                <button class="btn btn-gray">View Details</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="wish-block">
                            <p>Wish name biking down in the sunset</p>
                            <p>Descriptio get on two wish two F 7 bicycles and ride down a lone bicycles and ride down al aftemoor w followed by a nice juice followed
                            </p>
                            <div class="text-center">
                                <button class="btn btn-gray">View Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inner card">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="wish-wrap">
                            <img class="w100" src="assets/img/male.png" alt="">
                            <!-- <button class="btn btn-gray"></button> -->
                        </div>
                        <div class="wish-wrap">
                            <img class="w100" src="assets/img/female.png" alt="">
                            <!-- <button class="btn btn-gray">Fullfiller</button> -->
                        </div>
                        <div>
                            <b>About the wish</b><br/>Vocationing at Maldeves
                            <div>20th Dec 2017 to 20th Dec 2017</div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <app-gallary [images]="images"></app-gallary>
                    </div>
                </div>
                <div class="wish-btn-wrap">
                    <button class="btn btn-purple">See Details</button>
                    <button class="btn btn-green">I also want to do this</button>
                </div>
            </div>
        </div>
        <div class="col-sm-2 ratings">
            <div class="inner card">
                <div class="ratediv">
                    <img class="w100" src="assets/img/ratings.png" alt="">
                    <div class="rate">12.1</div>
                </div>
            </div>
        </div>
    </div>
</div>