.image-row{
    padding-left: 0!important;
    img{
        padding: 0 0 7px;
        width:100%;
    }
    .overlay{
        position: absolute;
        width: 90%;
        height: 85px;
        top: 60.5%;
        text-align: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.45098);
        font-size: 26px;
        cursor: pointer;
        span{
            top: 22px;
            position: relative;
        }
    }
}