.custominput{
  font-size: 16px;
  padding: 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #7986CB;
  box-sizing: border-box;
  background-color: white;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  margin: 0;
  font: inherit;
  color: inherit;
text-rendering: auto;
}

.customlabelname{
  top: -16px;
  font-size: 12px;
  color: #3D5AFE;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  box-sizing: border-box;
  cursor: default;
}
